/target
/ovim/gen
/ovim/gui/node_modules
/vendor/tree-sitter-groovy/Cargo.lock
/vendor/tree-sitter-groovy/target
/ovim/target
/ovim/src/target
/example-project-spond
/benchmarks/*.txt
/benchmarks/*.rs
.claude
.mcp.json
.DS_Store
